sass_binary_site="https://cdn.npmmirror.com/binaries/node-sass"
chromedriver_cdnurl="https://cdn.npmmirror.com/binaries/chromedriver"

registry="https://registry.npmmirror.com"

puppeteer-download-host="https://cdn.npmmirror.com/binaries"
puppeteer-download-base-url="https://cdn.npmmirror.com/binaries/chrome-for-testing"
